---
import GalleryCard from "@/components/GalleryCard.astro"
import MetaPage from "@/components/MetaPage.astro"
import Layout from "@/layouts/Layout.astro"
import { getGalleries } from "@/lib/content"

const galleries = await getGalleries()
---

<Layout>
  <MetaPage slot="head" title="Gallery" />
  <div class="page-header">
    <h1 class="page-title">Gallery</h1>
  </div>
  <ul>
    {galleries.map((gallery) => <GalleryCard gallery={gallery} />)}
  </ul>
</Layout>

<style>
  .page-header {
    margin-block-end: var(--space-m);
  }

  .page-title {
    font-size: var(--step-2);
    font-weight: var(--font-weight-medium);
    line-height: calc(var(--leading-offset) + 1em);
  }

  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-m);
  }

  @media (width < 40rem) {
    ul {
      grid-template-columns: 1fr;
    }
  }
</style>
